.background {
  background-color: #697e2c;
  width: 100%;
  min-height: 100vh;
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* 使い方の例 */
/* import "./background.css"; */
/**/
/* const imagePath = "/images/shared/Genkan.jpg"; */
/**/
/* <div */
/*   className="background" */
/*   style={{ "--bg-img": `url(${imagePath})` }} */
/* ></div> */
